KEYCLOAK_REALM_URL="http://localhost:8080/realms/deploily"
KEYCLOAK_CLIENT_ID="deploily"
KEYCLOAK_REDIRECT_URI="http://localhost:8976/callback"
KEYCLOAK_TOKEN_ENDPOINT="http://localhost:8080/realms/deploily/protocol/openid-connect/token"
KEYCLOAK_AUTH_ENDPOINT="http://localhost:8080/realms/deploily/protocol/openid-connect/auth"
KEYCLOAK_LOGOUT_ENDPOINT="http://localhost:8080/realms/deploily/protocol/openid-connect/logout"
KEYCLOAK_USERINFO_ENDPOINT="http://localhost:8080/realms/deploily/protocol/openid-connect/userinfo"